<section class="block block--dark block--skewed-right">
  <header class="block__header">
    <div class="container">
      <h2 class="block__heading">Block</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
        aspernatur libero officiis ratione eum praesentium.
      </p>
    </div>
  </header>
</section>
<section class="block container block--skewed-left">
  <header class="block__header">
    <h2 class="block__heading">Block</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aspernatur
      libero officiis ratione eum praesentium.
    </p>
  </header>
</section>
